# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Secrets
ACCESS_TOKEN_SECRET=your-secure-access-token-secret
REFRESH_TOKEN_SECRET=your-secure-refresh-token-secret
EMAIL_VERIFICATION_TOKEN_SECRET=your-secure-email-verification-token-secret
RESET_PASSWORD_TOKEN_SECRET=your-secure-password-reset-token-secret

# Database Configuration
MONGO_URL=mongodb://localhost:27017/your-database-name

# Email Configuration
EMAIL_FROM=your-email@example.com
VERIFICATION_LINK=http://localhost:3000/api/auth/verify-email
RESET_LINK=http://localhost:3000/api/auth/reset-password

# AWS Configuration
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=your-aws-region